<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="obstacle">
  <link
    name="obstacle">
    <inertial>
      <origin
        xyz="0.55 0 1"
        rpy="0 0 0" />
      <mass
        value="200" />
      <inertia
        ixx="83.333"
        ixy="0"
        ixz="-1.093E-14"
        iyy="66.833"
        iyz="-6.1232E-17"
        izz="16.833" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/lin/UR_learning/src/fmauch_universal_robot/ur_description/meshes/obstacle/visual/obstacle.dae" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="/home/lin/UR_learning/src/fmauch_universal_robot/ur_description/meshes/obstacle/collision/obstacle.stl" />
      </geometry>
    </collision>
  </link>
</robot>
